<script setup lang="ts">
import { useHomeStore } from '@/stores/homeStore';
import NumberButton from './NumberButton.vue';
import NumberButton2 from '@/components/NumberButton2.vue';
import { provide, ref } from 'vue';

const homeStore = useHomeStore()
const num = ref(10)

provide('num1', num)
provide('num1Click', () => {
    num.value += 2
})

</script>

<template>
  <div>{{ homeStore.num }}</div>
  <div><NumberButton></NumberButton></div>
  <div><NumberButton2></NumberButton2></div>
</template>
